.user-excerpt {
  max-inline-size: var(--size-content-1);
  margin-inline: auto;

  display: grid;
  grid-template-columns: [bck-start ava-start nam-start] auto [ava-end pct-start] auto [pct-end] auto [nam-end bck-end];
  grid-template-rows: [pct-start bck-start ava-start] auto [pct-end] 50px [nam-start] auto [ava-end] auto [nam-end] auto var(--size-3) [bck-end];
}

.user-excerpt__avatar {
  grid-area: ava;
}

.user-excerpt__avatar > img {
  border-radius: var(--radius-round);
  background: var(--surface-1);
  box-shadow: var(--inner-shadow-4);
}

.user-excerpt__background {
  grid-area: bck;
  background: var(--surface-2);
  border-radius: var(--radius-blob-1);
  box-shadow: var(--shadow-6);
}

.user-excerpt__name {
  grid-area: nam;
  max-inline-size: var(--size-content-1);
  font-size: var(--font-size-2);
  background: var(--surface-3);
  padding-inline: var(--size-2);
  padding-block: var(--size-2);
  border-radius: var(--radius-blob-2);
  box-shadow: var(--inner-shadow-4);
}

.user-excerpt__posts-count {
  grid-area: pct;
  background: var(--surface-4);
  padding-inline: var(--size-1);
  padding-block: var(--size-1);
  border-radius: var(--radius-blob-2);
  text-align: center;
  box-shadow: var(--shadow-5);
}
