.home {
  padding-inline: var(--size-fluid-3) var(--size-fluid-3);
  padding-block: var(--size-3) var(--size-3);
}

.home__hero img {
  inline-size: var(--size-fluid-9);
  float: inline-start;
  shape-outside: circle(50%);
  border-start-start-radius: 50%;
  border-start-end-radius: 50%;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
  margin-inline: 0 var(--size-3);
}

.home__dashboard {
  display: grid;
  gap: var(--size-8);
  place-items: center;
  background: var(--dashboard-gradient);
  padding-inline: var(--size-fluid-3) var(--size-fluid-3);
  padding-block: var(--size-3) var(--size-3);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);

  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--size-content-1)), 1fr));
}

.dashboard__most-active-users {
  display: grid;
  gap: var(--size-4);
  place-items: center;
  background: var(--surface-2);
  -webkit-mask: var(--mask-corner-cut-circles-1);
}

.dashboard__most-active-users > h4 {
  place-self: stretch;
  max-inline-size: var(--size-header-1);
  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  text-align: center;
  box-shadow: var(--shadow-6);
}

.dashboard__totals {
  place-self: stretch;
  display: grid;
  gap: var(--size-4);
  place-items: center;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.dashboard-totals__total-posts {
  display: grid;
  gap: var(--size-4);
  place-items: center;
  background: var(--surface-2);
  -webkit-mask: var(--mask-corner-cut-circles-1);
}

.dashboard-totals__total-posts > h4 {
  place-self: stretch;
  max-inline-size: var(--size-header-1);
  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  text-align: center;
  box-shadow: var(--shadow-6);
}

.dashboard-totals__total-posts > h5 {
  font-size: var(--font-size-6);
}

.dashboard-totals__total-users {
  display: grid;
  gap: var(--size-4);
  place-items: center;
  background: var(--surface-2);
  -webkit-mask: var(--mask-corner-cut-circles-1);
}

.dashboard-totals__total-users > h4 {
  place-self: stretch;
  max-inline-size: var(--size-header-1);
  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  text-align: center;
  box-shadow: var(--shadow-6);
}

.dashboard-totals__total-users > h5 {
  font-size: var(--font-size-6);
}

.dashboard__latest-posts {
  display: grid;
  gap: var(--size-4);
  place-items: center;
  background: var(--surface-2);
  -webkit-mask: var(--mask-corner-cut-circles-1);
}

.dashboard__latest-posts > h4 {
  place-self: stretch;
  max-inline-size: var(--size-header-1);
  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  text-align: center;
  box-shadow: var(--shadow-6);
}
