.bread-crumbs {
  max-inline-size: none;
  display: flex;
  align-items: center;
  gap: var(--size-2);
  font-size: var(--font-size-3);
}

.bread-crumbs__crumb {
  display: flex;
  align-items: center;
}
