.form-text-field {
  display: flex;
  flex-direction: column;
}

.form-text-field > label {
  color: var(--text-2);
  padding-block: var(--size-4) var(--size-1);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-9);
  text-transform: uppercase;
}

.form-text-field > input {
  inline-size: 100%;
}

.form-text-field > p[role="alert"] {
  font-size: var(--font-size-2);
  background: var(--form-field-alert-bg);
  color: var(--form-field-alert-tx);
  padding-inline: var(--size-2);
  padding-block: var(--size-1);
  border-radius: var(--radius-3);
  opacity: 0;
  animation: var(--animation-shake-y), var(--animation-fade-in) forwards;
  display: flex;
  align-items: center;
  gap: var(--size-2);
}
