.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: end;
  background: var(--surface-2);
  color: var(--brand);
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  position: sticky;
  inset-block-start: 0;
  z-index: 2;
}

/* || MEDIA QUERIES */

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .header {
    padding-inline: var(--size-1);
    padding-block: var(--size-1);
    border-block-end: var(--border-size-4) solid var(--surface-1);
  }

  .header > h1 {
    font-size: var(--font-size-5);
    line-height: var(--font-lineheight-00);
  }
}
