.header {
  grid-area: header;
  display: flex;
  gap: var(--size-3);
  background: var(--surface-2);
  color: var(--brand);
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  position: sticky;
  inset-block-start: 0;
}
