.theme-switcher {
  margin-inline: 0;
  padding-inline: 0;
  align-self: start;
}
.theme-switcher button {
  margin-inline: 0;
  padding-inline: 0;
}

.theme-switcher svg {
  max-inline-size: none;
}
