/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

:root {
  color-scheme: dark;

  /* light */
  --brand-light: var(--orange-6);
  --link-light: var(--indigo-7);
  --link-visited-light: var(--purple-7);
  --text-1-light: var(--gray-12);
  --text-2-light: var(--gray-7);
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-2);
  --surface-3-light: var(--gray-3);
  --surface-4-light: var(--gray-4);
  --scrollthumb-color-light: var(--gray-7);
  /* form validation colors */
  --form-field-alert-bg-light: var(--red-12);
  --form-field-alert-tx-light: var(--yellow-9);

  /* dark */
  --brand-dark: var(--orange-3);
  --link-dark: var(--indigo-3);
  --link-visited-dark: var(--purple-3);
  --text-1-dark: var(--gray-0);
  --text-2-dark: var(--gray-4);
  --surface-1-dark: var(--gray-9);
  --surface-2-dark: var(--gray-8);
  --surface-3-dark: var(--gray-7);
  --surface-4-dark: var(--gray-6);
  --scrollthumb-color-dark: var(--gray-6);
  /* form validation colors */
  --form-field-alert-bg-dark: var(--yellow-9);
  --form-field-alert-tx-dark: var(--red-12);

  /* set defaults */
  --brand: var(--brand-dark);
  --link: var(--link-dark);
  --link-visited: var(--link-visited-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --form-field-alert-bg: var(--form-field-alert-bg-dark);
  --form-field-alert-tx: var(--form-field-alert-tx-dark);
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-2);
  min-block-size: 100vh;
  min-block-size: 100svh;
  margin-inline: 0;
  margin-block: 0;
  padding-inline: 0;
  padding-block: 0;
}

#root {
  min-block-size: 100cqb;
  display: flex;
  padding-inline: var(--size-fluid-3) var(--size-fluid-3);
  padding-block: var(--size-3) var(--size-3);
}
