.post-excerpt {
  inline-size: 100%;
  max-inline-size: var(--size-content-3);
  margin-inline: auto;

  background: var(--surface-2);
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  border-radius: var(--radius-3);

  display: grid;
  gap: var(--size-3);

  box-shadow: var(--shadow-6);
}

.post-excerpt > h2 {
  font-size: var(--font-size-4);
}

.post-excerpt__content {
  background: var(--surface-3);
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  border-radius: var(--radius-3);
  font-size: var(--font-size-2);
  box-shadow: var(--inner-shadow-4);
}

.post-excerpt__credit {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  gap: var(--size-5);
}

.post-excerpt__credit > a {
  place-self: center end;
  display: flex;
  align-items: center;
  gap: var(--size-1);
}
